[color]
	ui = auto
[core]
	excludesfile = $HOME/dotfiles/git/ignore
	whitespace = cr-at-eol
	pager = less -r
	editor = vim
[user]
	name = windyakin
	email = windyakin@gmail.com
[pager]
  log = $HOME/dotfiles/git/diff-highlight | less -x4
  show = $HOME/dotfiles/git/diff-highlight | less -x4
  diff = $HOME/dotfiles/git/diff-highlight | less -x4
[alias]
	tree  = log --graph --decorate --oneline --abbrev-commit
[diff]
	tool = vimdiff
