[submodule "cool-peco"]
	path = cool-peco
	url = https://github.com/ryoppy/cool-peco.git
[submodule "zsh-plugins/zsh-syntax-highlighting"]
	path = zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
