[color]
	ui = auto
[core]
	excludesfile = ~/dotfiles/git/ignore
	whitespace = cr-at-eol
	pager = less -r
	editor = vim
[user]
	name = windyakin
	email = windyakin@gmail.com
[pager]
	log = ~/dotfiles/git/diff-highlight | less -x4
  show = ~/dotfiles/git/diff-highlight | less -x4
  diff = ~/dotfiles/git/diff-highlight | less -x4
[alias]
	tree  = log --graph --decorate --oneline --abbrev-commit
[merge]
	tool = vimdiff
